@import "tailwindcss";
@import "../../themes/light.css";
@import "../../themes/dark.css";

@theme inline {
  --color-background: var(--theme-bg);
  --color-foreground: var(--theme-fg);
  --color-primary: var(--theme-primary);
  --color-border-muted: var(--theme-border);
  --color-muted: var(--theme-muted-bg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--theme-bg);
  color: var(--theme-fg);
  font-family: Arial, Helvetica, sans-serif;
}
